{
  "printWidth": 100,
  "tabWidth": 2,
  "useTabs": false,
  "semi": false,
  "trailingComma": "all",
  "jsxSingleQuote": false,
  "jsxBracketSameLine": false,
  "singleQuote": true,
  "bracketSpacing": true,
  "endOfLine": "auto",
  "arrowParens": "always",
  "plugins": ["prettier-plugin-tailwindcss", "react", 
	"@trivago/prettier-plugin-sort-imports"
	],
	"importOrder": [
		"<THIRD_PARTY_MODULES>",
		"^@/app/(.*)$",
		"^@/features/(.*)$",
		"^@/shared/(.*)$",
		"^../(.*)$",
		"^./(.*)$"
	]
}